*{
    margin:0;
    padding:0;
}

body{
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    display: flex;
}

.side{
    display: flex;
    flex-direction: column;
}

/* left side */

#left-side{
    color:#fff;
    font-size: 12px;
    width: 400px;
    flex-shrink: 0;
    background: url(benjamin-le-roux-Y4RwFdnBi7I-unsplash.jpg);
    justify-content: space-between;
    align-items: center;
}

#photo-credit{
    padding: 10px;
}
#photo-credit a:link, #photo-credit a:visited{
    color: #fff;
}


#logo {
    height:70px;
    width: 100%;
    background: url(logo.png) center center no-repeat rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

/* right side */

#right-side {
    justify-content: space-around;
    width: 100%;
}

#info {
    padding: 40px;
    font-size: 18px;
    font-weight: 600;
    max-width: 600px;
    line-height: 1.3;
}

#form-container{
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 5px 13px 0px #D6D6D6;
    padding: 40px;
}

#form-container > p{
    margin-bottom: 40px;
}

#inputs-container{
    display: flex;
}

#btn-container {
    padding: 40px;
}

button{
    border:0;
    background-color: rgb(143, 109, 157);
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 14px;
    box-shadow: 0px 4px 3px 0px #D6D6D6;
}