*{
    margin:0;
    padding:0;
}

body{
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    display: flex;
}

form {
    background: #eee;
}

.side{
    display: flex;
    flex-direction: column;
}

/* left side */

#left-side{
    color:#fff;
    font-size: 12px;
    min-width: 350px;
    flex-grow: 1;
    background: url(benjamin-le-roux-Y4RwFdnBi7I-unsplash.jpg);
    justify-content: space-between;
    align-items: center;
}

#photo-credit{
    padding: 10px;
}
#photo-credit a:link, #photo-credit a:visited{
    color: #fff;
}


#logo {
    height: 222px;
    width: 100%;
    background: url(logo4.png) center center no-repeat;
    margin-top: 50px;
}

/* right side */

#right-side {
    justify-content: space-around;
    width: 100%;
}

#info {
    padding: 40px;
    font-size: 18px;
    max-width: 600px;
    line-height: 1.4;
}

#form-container{
    font-size: 18px;
    padding: 40px;
}

#form-container > p{
    margin-bottom: 40px;
}

#inputs-container{
    display: flex;
    gap:30px;
    max-width: 612px;
    min-width: 400px;
}

#inputs-container div {
    display: flex;
    flex-direction: column;
    flex:  1;
}

input{
    appearance: none;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #9a9a9a;
    border-radius: 4px;
    height: 34px;
    padding: 0 10px;
    margin-bottom: 16px;
    font-size: 15px;
}

input:focus{
    appearance: none;
    border: 1px solid #0055ff;
    box-shadow: 0px 3px 2px 0px #D6D6D6;
}

label{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

#btn-container {
    padding: 40px;
}

button{
    border:0;
    background-color: rgb(209 161 88);
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    width: fit-content;
    margin-bottom: 14px;
    box-shadow: 0px 3px 3px 0px #18181838;
    cursor: pointer;
    font: 17px Geneva;
}

.error, input:invalid {
    border:2px solid red;
}

